<head>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <!--
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-home"></i>
            </a>
        </li>
        -->
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/history">History</a>
        <a class="nav-link" href="/cookies">Cookies</a>
        <a class="nav-link" href="#">Active Users</a>
        <!--  THIS IS FOR DROPDOWN WHICH WE DO NOT NEED YET.
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drop Down Base?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">View</a>
                <a class="dropdown-item" href="#">Do something else</a>
            </div>
        </li>
        -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                Log Out
            </a>
        </li>
    </ul>
</nav>
</head>
<br>
