<% include ./partials/header %>
<% include ./partials/navBar %>
<body>
    <div class="container-fluid">
      <h2> Active Users  <h2>
      <table class="table table-hover table-striped">
        <thead class="thead-light">
          <th>UserID</th>
        </thead>
        <%for (var result in rowData){%>
        <tr>
          <td><%=rowData[result]['userID']%></td>
          <%}%>
        </tr>
      </table>
    </div>
</body>
<% include ./partials/footer %>
