<% include ./partials/header %>
<% include ./partials/navBar %>
<body>
	<h2> Active Users </h2>
    <div class="container-fluid">
		<table class="table table-hover table-striped">
			<thead class="thead-light">
				<th>ID</th>
			</thead>
			<tbody>
				<% for (var user in users){ %>
				<tr>
					<td><%=users[user].userID%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
    </div>
</body>
<% include ./partials/footer %>
