<% include ./partials/header %>
<% include ./partials/navBar %>
<div class="container-fluid">
	<div class="table-responsive">
		<h2> Cookies </h2>
		<table class="table table-hover table-striped">
			<thead class="thead-light">
				<th>UserID</th>
				<th>details</th>
			</thead>
			<%for (var result in rowData){%>
			<tr>
			  <td><%=rowData[result]['userID']%></td>
				<td><%=rowData[result]['details']%></td>
			  <%}%>
			</tr>
		</table>
		<br>
	</div>
</div>
<% include ./partials/footer %>
