<% include ./partials/header %>
<% include ./partials/navBar %>
<div class="container-fluid">
	<div class="table-responsive">
		<h2> History </h2>
		<table class="table table-hover table-striped">
			<thead class="thead-light">
				<th>Time Stamp</th>
				<th>Link</th>
			</thead>
			<tbody>
				<% for (var result in rowData){ %>
				<tr>
					<td><%=rowData[result]['timeDetails']%></td>
					<td ><%=rowData[result]['siteLink']%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>

<% include ./partials/footer %>
