<% include ./partials/header %>
<% include ./partials/navBar %>
<div class="container-fluid">
	<h2> Victims </h2>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead class="thead-light">
				<th>UserID</th>
				<th>Email</th>
			</thead>
			<tr>
			  <td>data1</td>
				<td>data2</td>
			</tr>
		</table>
		<br>
	</div>
</div>
</body>
<% include ./partials/footer %>
