<% include ./partials/header %>
<% include ./partials/navBar %>
<div class="container">
	<% if (!user) { %>
		<p>Welcome! Please <a href="/login">log in</a>.</p>
	<% } else { %>
		<p>Hello, <%= user.username %>.</p>
			<br>View your <a href="/victims">victims</a>.
			<br>View your <a href="/history">history</a>
			<br>View your <a href="/cookies">cookies</a>
			<table id="userTable">
				<tr>
					<th>User ID</th>
					<th>Email</th>
				</tr>
				<tr>
				</tr>
			</table>
	<% } %>
</div>
<% include ./partials/footer %>
