<% include ./partials/header %>
<head>
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="d-flex h-100">
		<div class="col-sm-3 m-auto login-box">
			<form action="/login" method="POST">
				<div>
					<label>Username:</label>
					<input type="text" name="username" class="form-control" placeholder="Username"/>
				</div><br>
				<div>
					<label>Password:</label>
					<input type="password" name="password" class="form-control" placeholder="Password"/>
				</div><br>
				<div>
					<input type="submit" class="btn btn-block btn-primary" value="Submit"/><span><i class="fa fa-sign-in"></i></span>
				</div>
			</form>
		</div>
	<div class="panel panel-default">


	</div><!--div.panel-->
</div><!--div.contianer-->
</body>
<% include ./partials/footer %>
