<% include ./partials/header %>
<% include ./partials/navBar %>
<body>
<div class="container-fluid">
		<h2> Phishing </h2>
		<br>
		<form action="/phishing" method="POST">
			<select name="selection" id="tabSelection" class="form-control">
				<option selected>Select an Active Tab</option>
				<% for (var key in rowData){ %>
				<option value="<%=key%>"><%=rowData[key]%>></option>
				<% } %>
			</select>
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<br>
</div>
</body>
<% include ./partials/footer %>
