<% include ./partials/header %>
<% include ./partials/navBar %>
<body>
<div class="container-fluid">
	<div class="table-responsive">
		<h2> Security Site </h2>
		<form action="/security" method="POST">
			<div class="form-group">
				<label>URL:</label>
				<input type="text" name="url" class="form-control">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<br>
		<div class="table-responsive">
			<table class="table table-hover table-striped vtable" id="myTable">
				<thead class="thead-light">
					<th>URL</th>
					<th>DELETE</th>
				</thead>
				<% for (var key in rowData){ %>
				<tr>
					<td><%=rowData[key]['url']%></td>
					<td>
						<form action="/security/delete" method="POST" style="display:inline" id="row<%= key %>">
							<div class="form-group" style="display:inline">
								<input type="hidden" name="url" value="<%=rowData[key]['url']%>">
							</div>
						</form>
						<button class="btn btn-danger" data-role="remove" type="submit" style="display:inline" form="row<%= key %>">
							<span class ="fas fa-minus"></span>&nbsp
						</button>
					</td>
				</tr>

				<% } %>
			</table>
			<br>
		</div>
	</div>
</div>
</body>
<% include ./partials/footer %>
